---
import Base from "@/layouts/Base.astro";
import Connectors from "../layouts/components/Connectors.tsx";
---

<Base title="Connectors">
  <section class="section">
    <div class="container">
      <div class="row justify-center">
        <div class="lg:col-10 text-center">
          <h1 class="h2">Connect Your Entire Data Stack</h1>
          <p class="mt-4">
            FlowSlate offers a growing library of robust connectors for the most popular databases, cloud services, and SaaS applications. Our flexible architecture allows you to use them as sources, destinations, or both. Don't see what you need? <a href="/contact">Let us know!</a>
          </p>
        </div>
      </div>
    </div>
  </section>
  <section class="section">
    <div class="container">
      <Connectors client:load />
    </div>
  </section>
</Base>
